{
  "extends": ["react-app", "plugin:prettier/recommended"]
  // "plugins": ["react", "prettier"],
  // "rules": {
  // 	"no-console": "warn",
  // 	"semi": ["error", "always"],
  // 	"quotes": ["error", "single"],
  // 	"prettier/prettier": "error",
  //   "max-len": ["error", 80]
  // },
  // "settings": {
  //   "import/resolver": {
  //     "webpack": {
  //       "config": "./config/webpack-common-config.js"
  //     }
  //   }
  // }
}
